# -*- coding: utf-8 -*-
# vim: ft=jinja

{# Start with defaults from defaults.yaml #}
{% import_yaml "etcd/defaults.yaml" as default_settings %}

{# Merge settings based on init grain #}
{% set init_settings = salt['grains.filter_by']({
    'upstart': {
        'init_file_path': '/etc/init/etcd.conf',
        'init_reload_cmd': 'initctl reload-configuration',
        'init_override_file': '/etc/init/etcd.override',
    },
    'systemd': {
        'init_file_path': '/etc/systemd/system/etcd.service',
        'init_reload_cmd': 'systemctl daemon-reload',
        'init_override_file': '/etc/systemd/system/etcd.override',
    },
}, grain='init', merge=default_settings.etcd) %}

{# Update settings defaults from pillar data #}
{% set etcd_settings = salt['pillar.get'](
    'etcd',
    default=init_settings,
    merge=True)
%}